[submodule "deps/DLLInjector"]
	path = deps/DLLInjector
	url = git@github.com:KrisFis/DLLInjector.git
	branch = main
[submodule "deps/ASTD"]
	path = deps/ASTD
	url = git@github.com:KrisFis/ASTD.git
	branch = main
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
	branch = master
